<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>古代树森林</title>
</head>
<body>

<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<lottie-player
        src="https://assets10.lottiefiles.com/packages/lf20_8NfeA8.json" background="transparent" speed="1"
        style="width: 300px; height: 300px;" loop autoplay>
</lottie-player>

<form class="form-inline" role="form" method="post" enctype="multipart/form-data" accept-charset="utf-8"
      action="{% url 'cloud:upload' %}">
    {% csrf_token %}
    <div>
        <label>类别</label>
        <select name="category">
            <option value="normal">普通</option>
            <option value="interesting">社会主义</option>
            <option value="memory">天外飞仙</option>
            <option value="other">其他</option>
        </select>
    </div>
    <div>
        <label>
            是否加密
            <input type="checkbox" name="secret"/>
        </label>
    </div>
    <div>
        <input type="file" name="file" multiple>
    </div>
    <div>
        <input type="submit" value="上传文件">
    </div>
</form>

</body>
</html>